@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import '../variables/variables';

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $egg-white;
  color: $grey;
}

input,
button,
submit {
  border: none;
}

.button {
  padding: 1em;
  margin: 0em 0.5em;
  border-radius: $radius;
  color: $grey;

  &.primary {
    background-color: $brand-blue;
    color: $egg-white;
  }
}
