/*
Components
specific UI components.
This is where majority of our work takes place and our UI components are often composed of Objects and Components
*/

@import './01_tools';

.navigation {
  display: flex;
  justify-content: center;
  padding: 12px 8px;
  box-shadow: 0px 2px 4px rgba(150, 150, 150, 0.1);

  @include breakpoint($size-desktop) {
    padding: 12px 12vw;
  }

  &-item {
    height: 36px;

    img {
      height: 36px;
    }
  }
}

.color-field {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 4px;
}

// PICKER 
.picker {
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 2fr 200px;
  grid-template-rows: 200px 22px 22px 44px;
  background-color: #ffffff;
  box-shadow: 0px -2px 4px 2px rgba(150, 150, 150, 0.1);

  &-preview {
    grid-column: 2;
    grid-row: 1;
    border-radius: 2px;
    background-color: goldenrod;
  }

  &-canvas {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 2px;
    background: linear-gradient(to top, rgb(0, 0, 0), transparent), linear-gradient(to left, rgb(255, 0, 0), rgb(255, 255, 255));
  }

  &-hue {
    grid-column: 1;
    grid-row: 2;
    border-radius: 2px;
    background: linear-gradient(to left, red, yellow, lime, cyan, blue, magenta, red);
  }

  &-alpha {
    grid-column: 1;
    grid-row: 3;
    border-radius: 2px;
    background: linear-gradient(to right, white, black);
  }
}